*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;

    .section-1{
        width: 100%;
        height: 100vh;
        padding: 21px 17px;

        header{
            width: 100%;
            height: 74px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left{
                display: flex;
                align-items: center;
                gap: 20px;

                nav{
                    display: flex;
                    gap: 61px;
                }
            }

            .right{
                display: flex;
                align-items: center;
                gap: 25px;

                button{
                    width: 100px;
                    height: 32px;
                    padding: 6px 25px;
                    background: #04AA6D;
                    border-radius: 15px;
                    border: green solid 1px;

                    :hover{
                        box-shadow: greenyellow;
                    }
                }

                
            }
        }
    }
}